
/*montando o style footer*/
footer { 
    grid-area: footer;/*criando o grid area do footer*/
    margin-bottom: -1.4rem;
    display: grid; 
    grid-template-columns: 33% 33% 33%;  
    grid-template-rows: 65px 85px; 
    background-color: #005bc5; 
    color: #fff;
    row-gap: 10px;
    grid-template-areas: 'insta copyright txt' 
                         'email copyright latila'  
}
.imgfooter{
    grid-area: insta;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5%;
    padding-left: 2%;
}
.imgfooter2{
    grid-area: email;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
}
.copyright{
    grid-area: copyright;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}
.txtLatila{
    grid-area: txt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}
.latila{
    grid-area: latila;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}
.imgfooter img{
    max-width: 50px;
    margin: 1%;
}
.imgfooter2 img{
    max-width: 50px;
    margin: 1%;
}
.latila img{
    max-width: 75px;
    background-color: #005bc5;
    padding-top: 7%;
}
.imgfooter a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    flex-direction: row;
}
.imgfooter2 a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.imgfooter a:hover{
  text-decoration: none;
  color: #fff;
  text-align: center;
  flex-direction: row;
  border-bottom: 2px solid #fff;
}
.imgfooter2 a:hover{
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid #fff;
}

.latila img:hover{
  border: 1px solid #fff;
  border-radius: 50px;
}

