
/* Define o estilo para o contêiner do formulário */
.container_form {
    grid-area: form;/*criando o grid area do formulario*/

    align-items: center;

    text-align: center;
    /* Centraliza o texto no contêiner */
    background-color: #fff;
    /* Define a cor de fundo do contêiner como branco (#fff) */
    border-radius: 10px;
    /* Adiciona cantos arredondados com um raio de 5px ao contêiner */
    border: 1px solid #005BC5;
    /* Adiciona preenchimento interno de 5% */
    padding-bottom: 5%;
    width: 45%;
        /* Define a largura máxima do contêiner como 600 pixels */
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 10%;
}

.container_form h1{
    padding: 3%;
    padding-top: 7%;
    padding-bottom: 5%;
    font-size: 40px;
}

/* Define estilos para o formulário */
form {
    display: inline-block;
    /* Define o formulário como um bloco de nível de linha */
}

/* Define estilos para as etiquetas dentro do formulário */
form label {
    display: block;
    /* Define as etiquetas como blocos de nível de bloco */
    margin-bottom: 5%;
    /* Adiciona margem inferior de 10% às etiquetas */
    font-size: 20px;
}

/* Define estilos para as imagens das etiquetas dentro do formulário */
form label img{
    max-width: 4%;
    /* Define o tamanho das imagens*/
    margin-top: 3%;
    /* Adiciona margem superior de 1% às imagens */
}

.seta{
    cursor: pointer;
}

.seta:hover{
    transform: scale(1.6);
    border: 1px solid #cf0638;
    border-radius: 15px;
}


.seta2{
    cursor: pointer;
    display: none;
}

.seta2:hover{
    transform: scale(1.5);
    border: 0.5px solid #cf0638;
    border-radius: 15px;
}


/* Define estilos para os campos de entrada de texto e senha */
form input[type="text"],
form input[type="date"], 
form input[type="number"] {
    background-color: #fff;
    /* Define a cor de fundo dos campos como branco (#fff) */
    padding: 10px;
    /* Adiciona preenchimento interno de 5px nos campos */
    border-radius: 5px;
    /* Adiciona cantos arredondados com um raio de 5px aos campos */
    border: 1px solid #000;
    /* Define uma borda de 1px sólida em torno dos campos */
    width: 100%;
    /* Define a largura dos campos como 100% da largura disponível */
    margin-bottom: 20px;
    /* Adiciona margem inferior de 20px aos campos */
}

/* Define estilos para o botão de envio */
.container_form button {
    color: #fff;
    background-color: #001449;
    border: none;
    border-radius: 3px;
    margin-bottom: 2rem;
    width: 100px;
    height: 50px;
}

.container_form button,
.container_form button:focus {
    outline: none;
    border-color: #005BC5;
    box-shadow: 0 0 0 3px #01346e;
}


.container_form button:hover{
    background-color:#00B4FC ;
     }

/* Define estilos para links dentro do botão */
.container_form button a {
    text-decoration: none;
    /* Remove a decoração de texto (sublinhado) dos links dentro do botão */
    color: #fff;
    /* Define a cor do texto dos links como branco (#fff) */
}

#form_ida_volta{
    display: none;
}

#form_so_ida{
    display: none;
}
