@media screen and (max-width: 1200px) {


    /* responsivo menu */
    .menu_logo {
        margin-left: 32rem;
    }

    .dp-menu {
        margin-left: -2rem;
        width: 42rem;
    }

    .menu_logo .logo {
        margin-left: -32rem;
    }

    .btn-contato {
        display: flex;
        flex-direction: row;
        margin-right: -5rem;
    }

    /* fim do menu*/

    /* responsivo slider */
    .slideshow-container {
        width: 120%;
    }

    .fade img {
        width: 120%;
    }

    /* fim slider */

    /* responsivo formulário */
    .container_form {
        width: 65%;
        height: 76%;
    }

    .container_form h1 {
        font-size: 32px;
    }

    form label {
        margin-bottom: 5%;
        /* Adiciona margem inferior de 10% às etiquetas */
        font-size: 21px;
    }

    .container_form buttom {
        width: 20rem;
        height: 2rem;
    }

    /* responsivo quiz */
    .quiz-container {
        margin-left: 7rem;
        margin-right: 2rem;
    }

    .quiz-title h2 {
        font-size: 31px;
    }

    /* responsivo missão, visão e valores */
    .card-container {
        max-width: 80%;
        margin-top: -8rem;
        height: 15rem;
        display: flex;
        flex-direction: row;
    }

    .card {
        padding: 1rem;
        width: 100%;
    }

    /* responsivo footer */
    #footer {
        margin-top: -6rem;
        height: 10rem;
    }

}



@media screen and (max-width: 800px) {

    /* responsivo menu */
    .dp-menu {
        margin-left: -2rem;
        width: 13rem;
        height: 11rem;
    }

    nav ul li a {
        padding: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 1rem;
    }

    nav ul ul {
        background-color: #005BC5;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: none;
        left: 12rem;
        margin-top: -2rem;
        position: absolute;
    }

    nav ul li:hover ul {
        display: block;
    }

    nav ul ul {
        height: 6rem;
        padding: 1.65rem;
        line-height: -1rem;
    }

    .btn-contato {
        display: flex;
        flex-direction: column;
        margin-top: -8rem;
        margin-right: 2rem;
    }

    /* fim menu */

    /* responsivo slider */
    .slideshow-container {
        max-width: 90%;
    }

    /* responsivo formulário */
    .container_form {
        margin-top: -2rem;
        width: 16rem;
        height: 70%;
    }

    .container_form h1 {
        font-size: 28px;
    }

    form label {
        margin-bottom: 5%;
        /* Adiciona margem inferior de 10% às etiquetas */
        font-size: 17px;
    }

    form input[type="text"],
    form input[type="date"],
    form input[type="number"] {
        padding: 5px;
        /* Adiciona preenchimento interno de 5px nos campos */
        width: 70%;
        /* Define a largura dos campos como 70% da largura disponível */
    }

    /* responsivo quiz */
    .quiz-container {
        margin-top: -2rem;
        width: 18rem;
        margin-left: 5rem;
    }

    .quiz-container h2 {
        font-size: 25px;
    }

    /* responsivo missão, visão e valores */
    .card-container {
        max-width: 95%;
        margin-top: -10rem;
        height: 15.5rem;
        display: flex;
        flex-direction: row;
    }

    .card {
        padding: 1rem;
        width: 100%;
    }

}


@media screen and (max-width: 600px) {

    body {
        height: 280vh;

    }

    /* responsivo menu */
    .dp-menu {
        width: 13rem;
        height: 11rem;
    }

    nav ul li a {
        padding: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 1rem;
    }

    nav ul ul {
        background-color: #005BC5;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: none;
        left: 12rem;
        margin-top: -2rem;
        position: absolute;
    }

    nav ul li:hover ul {
        display: block;
    }

    nav ul ul {
        height: 6rem;
        padding: 1.65rem;
        line-height: -1rem;
    }

    .icon_avatar {
        margin-left: -8rem;
        margin-top: -7rem;
    }

    /* fim menu */

    /* responsivo slider */
    .slideshow-container {
        max-width: 90%;
    }

    /* responsivo formulário */
    .container_form {
        margin-left: -9rem;
        margin-top: 38rem;
        width: 18rem;
        height: 70%;
    }

    .container_form h1 {
        font-size: 28px;
    }

    form label {
        margin-bottom: 5%;
        /* Adiciona margem inferior de 10% às etiquetas */
        font-size: 17px;
    }

    form input[type="text"],
    form input[type="date"],
    form input[type="number"] {
        padding: 5px;
        /* Adiciona preenchimento interno de 5px nos campos */
        width: 70%;
        /* Define a largura dos campos como 70% da largura disponível */
    }

    /* responsivo quiz */
    .quiz-container {
        margin-top: -4rem;
        width: 18rem;
        margin-left: 50%;
    }

    .quiz-container h2 {
        font-size: 25px;
    }

    /* responsivo missão, visão e valores */
    .card-container {
        max-width: 70%;
        width: 18rem;
        margin-left: 18%;
        margin-top: 30rem;
        height: 15.5rem;
        display: flex;
        flex-direction: column;
    }

    .card {
        padding: 1rem;
        width: 100%;
    }

    /* responsivo footer */
    #footer {
        height: 14rem;
        margin-top: 60rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: 4rem 4rem 3rem;
        grid-template-areas: 'insta txt'
            'email latila'
            'copyright copyright';
    }

}