/* Estilização padrão*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 400vh;
}

/*criando um display grid a partir da div pai "container"*/ 
.container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 280px 300px 300px 200px 200px;
    grid-template-areas: "menu menu menu menu"
                         "carrossel carrossel carrossel form"
                         "carrossel carrossel carrossel form "
                         "about about content form"
                         "footer footer footer footer" 
    ;} 

/*criando o grid area do menu de da logo*/
.container_menu_e_logo{
    grid-area: menu;
}

/* Estilazação da Logo do site*/
.logo {
    width: 25rem;
    /* estilizando a largura */
    margin-left: 46rem;
    /* adicionando uma margem à esquerda da logo */
    margin-bottom: -8rem;
    /* adicionando uma margem abaixo da logo */
    margin-top: -5rem;
    /* adicionando uma margem em cima da logo */
}

/* Estilizando a Menu/Nav/Header do site */
nav {
    background-color: #005BC5;
    border-radius: 10px;
    width: 50rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 36.25rem;
    color: white;
    transition: .5s;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
}

nav ul li a:hover {
    color: #FECD23;
}

/*sub menu*/

nav ul ul {
    background-color: #005BC5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    left: 0;
    position: absolute;
}

nav ul li:hover ul {
    display: block;
}

nav ul ul {
    width: 150px
}

nav ul ul li a {
    display: block;
    margin: 0;
    border: 0;
}

header .btn-contato {
    margin-left: 105rem;
    margin-top: -3rem;
}

/* botões do header */

/* botão de login */
.login {
    background-clip: padding-box;
    background-color: #001449;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: calc(.8rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.login:hover,
.login:focus {
    background-color: #294788;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.login:hover {
    transform: translateY(-1px);
}

.login:active {
    background-color: #294788;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

/* botão de cadastro */
.cadastro {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    width: 100px;
    padding: calc(.8rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.cadastro:hover,
.cadastro:focus {
    background-color: #0A6789;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgb(255, 255, 255);
}

.cadastro:hover {
    transform: translateY(-1px);
}

.cadastro:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* Estilizando o carretel */

.carousel {
    grid-area: carrossel;/*criando o grid area do carrossel*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
}

.carousel-container {
    overflow: hidden;
    position: relative;
    max-width: 800px;
    left: 1.5rem;
}

.slide {
    width: 50rem;
    height: 30rem;
    display: none;
    border-radius: 15px;
}

.btn-slide {
    margin: 10px;
    padding: 10px 20px;
    width: 4rem;
    height: 4rem;
    background: none;
    border: none;
}

.btn-slide img {
    width: 4rem;
    height: 4rem;
}

/* Define o estilo para o contêiner do formulário */
.container_form {
    grid-area: form;/*criando o grid area do formulario*/

    align-items: center;

    text-align: center;
    /* Centraliza o texto no contêiner */
    background-color: #fff;
    /* Define a cor de fundo do contêiner como branco (#fff) */
    border-radius: 5px;
    /* Adiciona cantos arredondados com um raio de 5px ao contêiner */
    box-shadow: 0 0 10px #000;
    /* Adiciona uma sombra ao contêiner */
    padding: 5%;
    /* Adiciona preenchimento interno de 5% */
    width: 315px;
        /* Define a largura máxima do contêiner como 600 pixels */
    margin-top: 15%;
    margin-left: 15%;
}

.container_form h1{
    padding: 5%;
}

/* Define estilos para o formulário */
form {
    display: inline-block;
    /* Define o formulário como um bloco de nível de linha */
    text-align: center;
    /* Centraliza o texto no formulário */
}

/* Define estilos para as etiquetas dentro do formulário */
form label {
    display: block;
    /* Define as etiquetas como blocos de nível de bloco */
    margin-bottom: 10%;
    /* Adiciona margem inferior de 10% às etiquetas */
}

/* Define estilos para as imagens das etiquetas dentro do formulário */
form label img{
    max-width: 5%;
    /* Define o tamanho das imagens*/
    margin-top: 3%;
    /* Adiciona margem superior de 1% às imagens */
}

.seta{
    cursor: pointer;
}

.seta:hover{
    transform: scale(1.6);
    border: 1px solid #cf0638;
    border-radius: 15px;
}


.seta2{
    cursor: pointer;
    display: none;
}

.seta2:hover{
    transform: scale(1.5);
    border: 0.5px solid #cf0638;
    border-radius: 15px;
}


/* Define estilos para os campos de entrada de texto e senha */
form input[type="text"],
form input[type="date"], 
form input[type="number"] {
    background-color: #fff;
    /* Define a cor de fundo dos campos como branco (#fff) */
    padding: 5px;
    /* Adiciona preenchimento interno de 5px nos campos */
    border-radius: 5px;
    /* Adiciona cantos arredondados com um raio de 5px aos campos */
    border: 1px solid #000;
    /* Define uma borda de 1px sólida em torno dos campos */
    width: 100%;
    /* Define a largura dos campos como 100% da largura disponível */
    margin-bottom: 20px;
    /* Adiciona margem inferior de 20px aos campos */
}

/* Define estilos para o botão de envio */
.container_form button {
    color: #fff;
    background-color: #001449;
    border: none;
    border-radius: 3px;
    margin-bottom: 2rem;
    width: 100px;
    height: 25px;
}

.container_form button,
.container_form button:focus {
    outline: none;
    border-color: #005BC5;
    box-shadow: 0 0 0 3px #01346e;
}


.container_form button:hover{
    background-color:#00B4FC ;
     }

/* Define estilos para links dentro do botão */
.container_form button a {
    text-decoration: none;
    /* Remove a decoração de texto (sublinhado) dos links dentro do botão */
    color: #fff;
    /* Define a cor do texto dos links como branco (#fff) */
}

#form_ida_volta{
    display: none;
}

#form_so_ida{
    display: none;
}

/*montando o style footer*/
.footer { 
    grid-area: footer;/*criando o grid area do footer*/
    margin-top: 3%;
    display: grid; 
    grid-template-columns: 30% 30% 30%;  
    grid-template-rows: 55px 65px; 
    background-color: #005bc5; 
    color: #fff;
    gap: 10px; 
    grid-template-areas: 'insta text txt' 
                         'email text tila'  
}
.imgfooter{
    grid-area: insta;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgfooter2{
    grid-area: email;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text{
    grid-area: text;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.txtTila{
    grid-area: txt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tila{
    grid-area: tila;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgfooter img{
    max-width: 50px;
    margin: 1%;
}
.imgfooter2 img{
    max-width: 50px;
    margin: 1%;
}
.tila img{
    max-width: 60px;
    background-color: #005bc5;
}
.imgfooter a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    flex-direction: row;
}
.imgfooter2 a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.imgfooter a:hover{
  text-decoration: none;
  color: #fff;
  text-align: center;
  flex-direction: row;
  border-bottom: 2px solid #fff;
}
.imgfooter2 a:hover{
  text-decoration: none;
  color: #fff;
  text-align: center;
   border-bottom: 2px solid #fff;
}

/*Estilização para os recursos de acessibilidade*/

.acessibilidade_container{
  position: fixed;
  bottom:10px;
  right:10px;
}

#botoes{
  display: none;
  flex-direction: column;
  margin-right: 9px;
  margin-bottom: 62px;
  }

#botoes button{
  margin: 5%;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #0a996f;
  border: none;
  font-size: 24px;
  color: #ffffff; 
}
.acessibilidade_container button{ 
  align-items: center;
  justify-content: center;
  display: flex;
}
.acessibilidade_container button img{
  width: 60%;
  height: 60%;
}

 .main {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #0a6789;
  right: 0;
  bottom: 0;
}

.acessibilidade_container button:hover,
.acessibilidade_container button .main:hover{
  transform: scale(1.1);
}
/*Contraste*/
body.high-contrast {
    color: #fff !important;
    background-color: #000 !important;
  }

body.high-contrast h1 {
  color: #fff !important;
}
    
body.high-contrast h2 {
  color: #17f9ff !important;
}

body.high-contrast .title {
  color: #fff !important;
  background: none;
  }

body.high-contrast .title1 {
  color: #ffffff !important;
  background-color: #005cc584;
  }

.high-contrast p{
  color: #ddd !important;
}

.high-contrast .container_form {
    color: #fff !important;
    background-color: #000 !important;
    /* Define a cor de fundo do contêiner como branco (#fff) */
    box-shadow: 0 0 10px #fff !important;
}
body.high-contrast form input[type="text"] {
    background-color: #000 !important;
    /* Define a cor de fundo dos campos como branco (#000) */
    border: 1px solid #fff !important;
    /* Define uma borda de 1px sólida em torno dos campos */
}
body.high-contrast form input[type="number"] {
    background-color: #000 !important;
    /* Define a cor de fundo dos campos como branco (#000) */
    border: 1px solid #fff !important;
    /* Define uma borda de 1px sólida em torno dos campos */
    color: #fff !important;
}
body.high-contrast form input[type="date"] {
    background-color: #000;
    /* Define a cor de fundo dos campos como branco (#000) */
    border: 1px solid #fff;
    /* Define uma borda de 1px sólida em torno dos campos */
    color: #fff;
}
/*Modo de Leitura*/
.reading-mode{
  background-color: #fdf9d7 !important;
}

.reading-mode .footer { 
  color: #fdf9d7 !important;  
}

.reading-mode button{
  color: #fdf9d7 !important; 
}

.reading-mode nav {
  color: #fdf9d7 !important;
}

.reading-mode .cadastro {
    color: #000 !important;
  }

.reading-mode .container_form {
    background-color: #fdf9d7 !important;
}
.reading-mode form input[type="text"] {
    background-color: #fdf9d7 !important;
}
.reading-mode form input[type="number"] {
    background-color: #fdf9d7 !important;
}
.reading-mode form input[type="date"] {
    background-color: #fdf9d7 !important;
}

/*Aumentar fonte*/
.font-size {
  font-size: large;
}

@media only screen and (max-width: 1200px) {

    .logo {
        margin-left: 20rem;
    }

    header {
        margin-left: -30rem;
    }
}