/*configuração padrão*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  /*corpo*/
body{
  font-family:Nunito, sans-serif ;
  color: #000000;
  background-color: #ffffff;
  height: 200px;
   
}
  
h1, h2, h3{
  font-family:Asap, sans-serif;
  color:#001449 !important;
}
  
/*criando um display grid a partir da div pai "container"*/ 
.container{
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: 200px 600px 600px 200px ;
  grid-template-areas: "menu menu"
                       "central central"
                       "contact contact"
                       "footer footer";
  gap: 5%;                    
  } 
/* Define estilos para a barra de navegação */
.nav-bar {
     grid-area: menu;
     position: fixed; /* Fixa a barra de navegação no topo da página */
     top: 0;
     left: 0;
     width: 100%; /* Ocupa toda a largura da tela */
     display: flex;
     justify-content: space-between; /* Espaço igual entre os itens na barra de navegação */
     align-items: center;
     background-color: #005bc5; /* Define a cor de fundo da barra de navegação */
     padding: 10px 20px; /* Preenchimento interno */
     z-index: 1000; /* Define a ordem de empilhamento (z-index) para garantir que fique acima de outros elementos */
 }
 
 /* Define estilos para o contêiner do logotipo */
 .logo-container {
     display: flex;
     align-items: center;
 }
 
 /* Define estilos para o link do logotipo */
 .logo-link {
     text-decoration: none; /* Remove a decoração de texto (sublinhado) do link */
     color: #fff; /* Define a cor do texto como branco (#fff) */
 }
 
 /* Define estilos para o logotipo */
 .logo {
     max-width: 100%; /* Limita a largura do logotipo ao tamanho máximo da caixa pai */
     height: auto; /* Mantém a proporção da altura automaticamente */
 }
 
 /* Define estilos para o menu de navegação */
 .menu {
     list-style: none; /* Remove os marcadores de lista */
     display: flex;
     margin: 0;
     padding: 0;
 }
 
 /* Define estilos para os itens do menu */
 .menu li {
     margin-left: 20px; /* Adiciona uma margem à esquerda entre os itens do menu */
 }
 
 /* Define estilos para os links do menu */
 .menu a {
     text-decoration: none; /* Remove a decoração de texto (sublinhado) dos links do menu */
     color: #fff; /* Define a cor do texto como branco (#fff) */
     font-weight: 400; /* Define o peso da fonte como 400 (padrão) */
     font-size: 16px; /* Define o tamanho da fonte como 16 pixels */
 }

.nav-bar ul li a:hover{
  color: rgb(245, 207, 22);
  border-bottom: 1px solid rgb(245, 207, 22);
  transform: scale(1.1);
}
/*estilização do header*/
.container-header{  
  grid-area: header;
  padding-top: 2%;
  display: grid; 
  grid-template-columns: 10% 80% 5% 5%;  
  grid-template-rows: 35px 35px;
  grid-template-areas: '. title contraste img-mao'
                       '. title contraste img-mao'; 
}

.title { 
  grid-area: title; 
  text-align: center;
} 

.img-mao{
  grid-area: img-mao;
  width: 30px;
  height: 30px;
  padding-top: 3%;
}
 
.img-mao2{
  grid-area: img-mao2;
  width: 30px;
  height: 30px;
}

.img-mao:hover{
    transform: scale(1.1);
}

.img-mao2:hover{
  transform: scale(1.1);
}

.contraste{
  grid-area: contraste;
  width: 40px;
  height: 40px;
}

.contraste2{
  grid-area: contraste2;
  width: 40px;
  height: 40px;
}
 
.contraste:hover{
     transform: scale(1.1);
}

.contraste2:hover{
  transform: scale(1.1);
}

/*fim do header*/


/*Estilos para o container dos cartões*/
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5%;
    max-width: 1200px;
    margin: 2% auto;
    margin-top: 2%;
}
/*Estilos para os cartões individuais*/
.card{
    border: 1px solid #005BC5;
    padding: 7%;
    box-shadow: 0 2px 4px #01346e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-title{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.card img{
  max-width: 50%;
  max-height: 30%;
}
.card-button{
  margin-bottom: 2%;
  margin: 2%;
  padding: 2%;
  width: 35%;
  height: 15%;
  background-color: #001449;
  border: none;
  color: white;
  border-radius: 3px;
}
.card-button,
.card-button:focus {
  outline: none;
  border-color:#005BC5;  
  box-shadow: 0 0 0 3px #01346e;
}
    
.card-button:hover{
background-color:#00B4FC ;
color: #000;
}
.central-container{
  grid-area: central;
}
.contact-container{
  grid-area: contact;
}
.contact{
    text-align: center;
    padding: 5%;
    margin-bottom: auto;
}
/*montando o style footer*/
.footer { 
    grid-area: footer;
    margin-top: 3%;
    display: grid; 
    grid-template-columns: 30% 30% 30%;  
    grid-template-rows: 55px 65px; 
    background-color: #005bc5; 
    color: #fff;
    gap: 10px; 
    grid-template-areas: 'insta text txt' 
                         'email text tila'  
}
.imgfooter{
    grid-area: insta;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgfooter2{
    grid-area: email;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text{
    grid-area: text;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.txtTila{
    grid-area: txt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tila{
    grid-area: tila;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgfooter img{
    max-width: 50px;
    margin: 1%;
}
.imgfooter2 img{
    max-width: 50px;
    margin: 1%;
}
.tila img{
    max-width: 60px;
    background-color: #005bc5;
}
.imgfooter a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    flex-direction: row;
}
.imgfooter2 a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.imgfooter a:hover{
  text-decoration: none;
  color: #fff;
  text-align: center;
  flex-direction: row;
  border-bottom: 2px solid #fff;
}
.imgfooter2 a:hover{
  text-decoration: none;
  color: #fff;
  text-align: center;
   border-bottom: 2px solid #fff;
}
/*Contraste*/
body.high-contrast {
    color: #fff !important;
    background-color: #000 !important;
    font-size: large;
  }

body.high-contrast h1 {
  color: #fff !important;
}
    
body.high-contrast h2 {
  color: #17f9ff !important;
}

.high-contrast p{
  color: #ddd !important;
}

.high-contrast .container-header{
  grid-template-areas: '. title contraste2 img-mao2'
                       '. title contraste2 img-mao2' !important; 
}