/*configuração padrão*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*corpo*/
body {
  font-family: Nunito, sans-serif;
  color: #000000;
  background-color: #ffffff;

}

/*Sub-menu somante na página destinos*/
#container-sub{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  padding: 30px;
  background-color: #005bc5;
  }
  
  #container-sub div{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  
  #container-sub div img{
  max-width: 200px;
  height: 100px;
  }
  
  .sub-menu a{
     
      text-decoration: none;
      color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
      
   }
   .hover_sub:hover{
    border-bottom: 1px solid #ffffff;
   }
  
  
  #container-sub{
     display: flex;
     flex-direction: row;
     align-items: auto;
     padding: 30px;
  }
  
  #container-sub div{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin-top: 2%;
     flex-grow: 1;
     flex-basis: 20%;
     padding: 0 10px;
  }
   #container-sub h3 {
      color: #ffffff;
      font-size: 1.5em;
  }



/*Estilização das title's (h2)*/
.title {
  text-align: center;
  margin-top: 3;
  color: #005BC5;
  background-color: #00b5fc18;
  font-size: 4.5em;
  margin-top: 3%;
}

.title_lug {
  font-size: 2.5em;
  text-align: center;
  color: #CF0638;
  background-color: #fcd2dd6e;
  padding: 6%;
  margin-top: 2%;
}


.title_hotel {
  font-size: 2.5em;
  text-align: center;
  color: #0a996f;
  background-color: #c6f5e77b;
  padding: 6%;
  margin-top: 2%;
}

.title_res{
  font-size: 2.5em;
  text-align: center;
  color: #FA6632;
  background-color: #ff40002c;
  padding: 6%;
  margin-top: 2%;
}




/*coluna das fotos*/
.gallery-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 2%;
  padding: 15px;

}

/*tamanho das fotos*/
.img-card img {
  width: 90%;
  height: 89%;
}

/*Ira centralizar os  textos dos cards das imagens*/

.img-card {
  text-align: center;
  margin-bottom: 8%;
}

.img-card h3{
  color: #0a6789;
}

/*Botao lugar*/
.lug button {
  width: 25%;
  height: 7%;
  background-color: #CF0638;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 2%;

}

.lug button,
.lug button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #9a0429;
}

.lug button:hover {
  background-color: #f4436f;
}

/*Botão hotel*/
#hotel {
  margin-top: 8rem;
}

.hot button {
  width: 25%;
  height: 7%;
  background-color: #0A996F;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 2%;
}

.hot button,
.hot button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #03261b;
}

.hot button:hover {
  background-color: #69e6c0;
}

/*botao restaurante*/
#restaurante {
  margin-top: 8rem;
}

.rest button {
  width: 25%;
  height: 7%;
  background-color: #fa6632;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 2%;
}

.rest button,
.rest button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #6f1e01;
}

.rest button:hover {
  background-color: #e4a28a;
}

/*rodapé*/
.footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 55px 65px;
  background-color: #005dc7;
  color: #fff;
  gap: 10px;
  margin-top: 3%;
  grid-template-areas:
    'insta text txt'
    'email text tila'
}

.imgfooter {
  grid-area: insta;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
}

.imgfooter2 {
  grid-area: email;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
}

.text {
  grid-area: text;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.txtTila {
  grid-area: txt;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tila {
  grid-area: tila;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgfooter img {
  max-width: 50px;
  margin: 1%;
}

.imgfooter2 img {
  max-width: 50px;
  margin: 1%;
}

.tila img {
  max-width: 60px;
  background-color: #005bc5;
}

.imgfooter a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  flex-direction: row;
}

.imgfooter2 a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

