/*configuração padrão*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*corpo*/
body {
  font-family: Nunito, sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}


/*menu*/


.logo {
  width: 25rem;
  margin-left: 44rem;
  margin-bottom: -8rem;
  margin-top: -5rem;
}

nav {
  background-color: #005BC5;
  border-radius: 10px;
  width: 50rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 34rem;
  color: white;
  transition: .5s;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  position: relative;
}

nav ul li a {
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  margin-left: 2rem;
  margin-right: 2rem;
}

nav ul li a:hover {
  color: #FECD23;
}

/*Sub-menu em todas as paginas*/
nav ul ul {
  background-color: #005BC5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  left: 0;
  position: absolute;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul {
  width: 150px
}

nav ul ul li a {
  display: block;
  margin: 0;
  border: 0;
}


/*Sub-menu somante na página destinos*/
#container-sub{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  padding: 30px;
  background-color: #005bc5;
  }
  
  #container-sub div{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  
  #container-sub div img{
  max-width: 200px;
  height: 100px;
  }
  
  .sub-menu a{
     
      text-decoration: none;
      color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
      
   }
   .hover_sub:hover{
    border-bottom: 1px solid #ffffff;
   }
  
  
  #container-sub{
     display: flex;
     flex-direction: row;
     align-items: auto;
     padding: 30px;
  }
  
  #container-sub div{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin-top: 2%;
     flex-grow: 1;
     flex-basis: 20%;
     padding: 0 10px;
  }
   #container-sub h3 {
      color: #ffffff;
      font-size: 1.5em;
  }



/*Estilização das title's (h2)*/
.title {
  text-align: center;
  margin-top: 3;
  color: #005BC5;
  background-color: #00b5fc18;
  font-size: 4.5em;
  margin-top: 3%;
}

.title_lug {
  font-size: 2.5em;
  text-align: center;
  color: #CF0638;
  background-color: #fcd2dd6e;
  padding: 6%;
  margin-top: 2%;
}


.title_hotel {
  font-size: 2.5em;
  text-align: center;
  color: #0a996f;
  background-color: #c6f5e77b;
  padding: 6%;
  margin-top: 2%;
}

.title_res{
  font-size: 2.5em;
  text-align: center;
  color: #FA6632;
  background-color: #ff40002c;
  padding: 6%;
  margin-top: 2%;
}




/*coluna das fotos*/
.gallery-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 2%;
  padding: 15px;

}

/*tamanho das fotos*/
.img-card img {
  width: 90%;
  height: 89%;
}

/*Ira centralizar os cards das imagens*/

.img-card {
  text-align: center;
  margin-bottom: 8%;
}

.img-card h3{
  color: #0a6789;
}

/*Botao lugar*/
.lug button {
  width: 25%;
  height: 7%;
  background-color: #CF0638;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 2%;

}

.lug button,
.lug button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #9a0429;
}

.lug button:hover {
  background-color: #f4436f;
}

/*Botão hotel*/
#hotel {
  margin-top: 8rem;
}

.hot button {
  width: 25%;
  height: 7%;
  background-color: #0A996F;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 2%;
}

.hot button,
.hot button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #03261b;
}

.hot button:hover {
  background-color: #69e6c0;
}

/*botao restaurante*/
#restaurante {
  margin-top: 8rem;
}

.rest button {
  width: 25%;
  height: 7%;
  background-color: #fa6632;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 2%;
}

.rest button,
.rest button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #6f1e01;
}

.rest button:hover {
  background-color: #e4a28a;
}
