/*configuração padrão*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*corpo*/
body {
  font-family: Nunito, sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  height: 200px;

}


/*menu*/


.logo {
  width: 25rem;
  margin-left: 44rem;
  margin-bottom: -8rem;
  margin-top: -5rem;
}

nav {
  background-color: #005BC5;
  border-radius: 10px;
  width: 50rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 34rem;
  color: white;
  transition: .5s;
}








nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  position: relative;
}

nav ul li a {
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  margin-left: 2rem;
  margin-right: 2rem;
}

nav ul li a:hover {
  color: #FECD23;
}

/*sub menu*/
nav ul ul {
  background-color: #005BC5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  left: 0;
  position: absolute;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul {
  width: 150px
}

nav ul ul li a {
  display: block;
  margin: 0;
  border: 0;
}


/*Começo da class head*/
.head {
  margin-top: 3%;

}


/*Fim da class head*/


/*Começo da class sub-menu*/


.sub-menu {
  background-color: #005BC5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
  margin-top: 1%;
}

.sub-menu {
  list-style: none;
  display: flex;
}

.sub-menu li {
  margin-left: 15px;
}

.sub-menu li a {
  text-decoration: none;
  color: #fff;
}

.sub-menu li a:hover {
  border-bottom: 2px solid #fff;
}

.sub-menu li img{
  width: 15%;
  height: auto;
}

.sub-img {
  margin-left: 14rem;
  font-size: 1.5rem;
}
/*Fim da class sub-menu*/


/*Estilização das title's (h2)*/
.title {
  text-align: center;
  color: #005BC5;
  background-color: #00b5fc18;
  font-size: 4.5em;
}

.title1 {
  font-size: 2.5em;
  text-align: center;
  color: #CF0638;
  background-color: #fcd2dd6e;
  padding: 6%;
  margin-top: 2%;
}


.title2 {
  font-size: 2.5em;
  text-align: center;
  color: #0a996f;
  background-color: #c6f5e77b;
  padding: 6%;
  margin-top: 2%;
}

.title3 {
  font-size: 2.5em;
  text-align: center;
  color: #FA6632;
  background-color: #ff40002c;
  padding: 6%;
  margin-top: 2%;
}




/*coluna das fotos*/
.gallery-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 2%;
  padding: 15px;

}

/*tamanho das fotos*/
.img-card img {
  width: 90%;
  height: 89%;
}

/*Ira centralizar os cards das imagens*/

.img-card {
  text-align: center;
}


/*Botao lugar*/
.lug button {
  width: 25%;
  height: 7%;
  background-color: #CF0638;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 2%;
}

.lug button,
.lug button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #9a0429;
}

.lug button:hover {
  background-color: #f4436f;
}

/*Botão hotel*/
#hotel {
  margin-top: 8rem;
}

.hot button {
  width: 25%;
  height: 7%;
  background-color: #0A996F;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 2%;
}

.hot button,
.hot button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #03261b;
}

.hot button:hover {
  background-color: #69e6c0;
}

/*botao restaurante*/
#restaurante {
  margin-top: 8rem;
}

.rest button {
  width: 25%;
  height: 7%;
  background-color: #fa6632;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 2%;
}

.rest button,
.rest button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #6f1e01;
}

.rest button:hover {
  background-color: #e4a28a;
}

/*rodapé*/
.footer {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 55px 65px;
  background-color: #005bc5;
  color: #fff;
  gap: 10px;
  margin-top: 3%;
  grid-template-areas:
    'insta text txt'
    'email text tila'
}

.imgfooter {
  grid-area: insta;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgfooter2 {
  grid-area: email;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  grid-area: text;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.txtTila {
  grid-area: txt;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tila {
  grid-area: tila;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgfooter img {
  max-width: 50px;
  margin: 1%;
}

.imgfooter2 img {
  max-width: 50px;
  margin: 1%;
}

.tila img {
  max-width: 60px;
  background-color: #005bc5;
}

.imgfooter a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  flex-direction: row;
}

.imgfooter2 a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

/*acessibilidade*/

.acessibilidade_container{
  position: fixed;
  bottom:10px;
  right:10px;
}

#botoes{
  display: none;
  flex-direction: column;
  margin-right: 9px;
  margin-bottom: 62px;
  }

#botoes button{
  margin: 5%;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #0a996f;
  border: none;
  font-size: 24px;
  color: #ffffff; 
}
.acessibilidade_container button{ 
  align-items: center;
  justify-content: center;
  display: flex;
}
.acessibilidade_container button img{
  width: 60%;
  height: 60%;
}

 .main {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #0a6789;
  right: 0;
  bottom: 0;
}

.acessibilidade_container button:hover,
.acessibilidade_container button .main:hover{
  transform: scale(1.1);
}

/*Contraste*/
body.high-contrast {
  color: #fff !important;
  background-color: #000 !important;
}

body.high-contrast h1 {
color: #fff !important;
background: none;
}
  
body.high-contrast h2 {
color: #ffffff !important;
background-color: #005cc584;
}

.high-contrast p{
color: #ddd !important;
}

/*Modo de Leitura*/
.reading-mode{
background-color: #fdf9d7 !important;
}

.reading-mode .footer { 
color: #fdf9d7 !important;  
}

.reading-mode button{
color: #fdf9d7 !important; 
}
.reading-mode nav {
  color: #fdf9d7;
}


/*Aumentar fonte*/
.font-size {
  font-size: large;
}
/*Responsivel*/

@media(max-width:768px) {
  .gallery-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:1500px) {
  .gallery-content {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media(max-width:530px) {
  .gallery-content {
    grid-template-columns: 1fr;
  }
}

@media(max-width:768px) {
  .gallery-content button {
    height: 10%;
    widows: 25%;
  }
}

@media(max-width:1500px) {
  .gallery-content button {
    height: 10%;
    widows: 25%;
    bottom: 2%;
  }
}


@media(max-width:530px) {
  .gallery-content button {
    height: 10%;
    widows: 25%;
  }
}