/*Responsivel*/

@media(max-width:768px) {
    .gallery-content {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media(max-width:1500px) {
    .gallery-content {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
  }
  
  @media(max-width:530px) {
    .gallery-content {
      grid-template-columns: 1fr;
    }
  }
  
  @media(max-width:768px) {
    .gallery-content button {
      height: 10%;
      widows: 25%;
    }
  }
  
  @media(max-width:1500px) {
    .gallery-content button {
      height: 10%;
      widows: 25%;
      bottom: 2%;
    }
  }
  
  
  @media(max-width:530px) {
    .gallery-content button {
      height: 10%;
      widows: 25%;
    }
  }