/* Estilo padrão da página de Login */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', arial;
}

body {
    background: rgb(0, 73, 140);
    background: radial-gradient(circle, rgb(23, 119, 216) 0%, rgb(38, 114, 185) 25%, rgb(49, 115, 177) 50%, rgba(45, 123, 196, 1) 75%, rgba(60, 139, 214, 1) 100%);
}

.title,
h2 {
    color: #fff;
}

.geral {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 25px 850px 25px;
    grid-template-areas: '. contrast'
        'logo form'
        'logo .';
}

.logotipo {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 30px;
    grid-area: logo;
    margin: 6%;
}

.logotipo img {
    max-width: 600px;
}

.logar {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.contraste {
    grid-area: contrast;

}

.button-contraste {
    color: #fff;
    background-color: #001449;
    border: none;
    border-radius: 3px;
    margin-bottom: 2rem;
    width: 100px;
    height: 25px;
}

.button-contraste,
.button-contraste:focus {
    outline: none;
    border-color: #005BC5;
    box-shadow: 0 0 0 3px #01346e;
}

.button-contraste:hover{
    background-color:#00B4FC ;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    padding: 5%;
    max-width: 600px;
}

.container h1{
    padding: 5%;
}

form {
    display: inline-block;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10%;
}

form input[type="text"],
form input[type="password"] {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 20px;
}


/* Define estilos para o botão de envio */
.container button {
    color: #fff;
    background-color: #001449;
    border: none;
    border-radius: 3px;
    margin-bottom: 2rem;
    width: 80px;
    height: 25px;
}

.container button,
.container button:focus {
    outline: none;
    border-color: #005BC5;
    box-shadow: 0 0 0 3px #01346e;
}


.container button:hover{
    background-color:#00B4FC ;
     }

/* Define estilos para links dentro do botão */
button a {
    text-decoration: none;
    /* Remove a decoração de texto (sublinhado) dos links dentro do botão */
    color: #fff;
    /* Define a cor do texto dos links como branco (#fff) */
}

.no-account {
    margin-top: 20px;
    font-size: 14px;
}

.no-account a {
    text-decoration: none;
    color: #000;
}

.no-account a:hover {
    color: #026ACA;
    text-decoration: none;
    border-bottom: 1px solid #026ACA;
}

/* Estilo para o modo de alto contraste */
body.high-contrast {
    background: rgb(0, 43, 98) !important;
    background: radial-gradient(circle, rgba(0, 43, 98, 1) 0%, rgba(10, 55, 111, 1) 25%, rgba(19, 66, 125, 1) 50%, rgba(29, 78, 138, 1) 75%, rgba(38, 90, 151, 1) 100%) !important;
}

body.high-contrast .title {
    color: #fff !important;
}

body.high-contrast h2 {
    color: #fff;
}

body.high-contrast .container {
    color: #fff !important;
    background-color: #000 !important;
    /* Define a cor de fundo do contêiner como branco (#fff) */
    box-shadow: 0 0 10px #fff !important;
}
body.high-contrast form input[type="text"] {
    background-color: #000;
    /* Define a cor de fundo dos campos como branco (#000) */
    border: 1px solid #fff;
    /* Define uma borda de 1px sólida em torno dos campos */
}
body.high-contrast form input[type="password"] {
    background-color: #000;
    /* Define a cor de fundo dos campos como branco (#000) */
    border: 1px solid #fff;
    /* Define uma borda de 1px sólida em torno dos campos */
}
body.high-contrast .button-contraste {
    color: #fff;
    background-color: rgba(0, 73, 140, 1);
    border: none;
    border-radius: 3px;
    margin-bottom: 2rem;
    width: 100px;
    height: 25px;
}

body.high-contrast .button-contraste,
.button-contraste:focus {
    outline: none;
    border-color: rgb(57, 134, 206);
    box-shadow: 0 0 0 3px #021935;
}

body.high-contrast .button-contraste:hover{
    background-color:#00B4FC ;
}
body.high-contrast .no-account a {
    text-decoration: none;
    color: #fff;
}

body.high-contrast .no-account a:hover {
    color: #00B4FC;
    text-decoration: none;
    border-bottom: 1px solid #00B4FC;
}

@media(max-width:768px){
    .geral{
        grid-template-columns: 98% 2%;
        /* Cria duas colunas iguais, cada uma ocupando metade da largura disponível */
        grid-template-rows: 25px 850px 850px;
        /* Define as alturas das três linhas da grade */
        grid-template-areas: '. .'
            /* A primeira linha não contém conteúdo */
            'logo .'
            /* A segunda linha contém o logotipo e o formulário */
            'form .';
        /* A terceira linha contém apenas o logotipo */
    }
}