@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Define a imagem do fundo*/
.background {
    width: 100%;
    height: 100vh;
    background-image: url('../img/img12.png');
    background-position: center;
    background-size: cover;

}

/*inicio da class home que é uma div pai*/
.home {
    position: absolute;
    top: 50%;
    left: 56%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border: none;

}

/*Estilos para o link*/
.login .sign-up {
    display: flex;
    justify-content: center;
}

.login .sign-up a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.login .sign-up p {
    color: #fff;
}

.sign-up a:hover {
    text-decoration: underline;
}

/*Inicio da class content*/
.content {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 100px 0;
    position: relative;
    backdrop-filter: blur(20px);

}

.content a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    top: -40px;
    left: 80px;
}

.content h2 {
    font-size: 3.5em;
    text-align: center;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.content h3 {
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content pre {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #fa6632;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.login {
    width: 450px;
    position: relative;
    padding: 100px 30px;
    backdrop-filter: blur(200px);

}

.login h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login .input {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}


.login .input .input1 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 100%;
    height: 100%;
}

::placeholder {
    color: #fff;
    font-size: 18px;
}

.login .input i {
    position: relative;
    right: -370px;
    bottom: 27px;
    color: #fff;
}

#input>* {
    height: 1.3em;
    float: left;
}

#input img {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 15px;
}

/*Estilo do botão*/
.login .button {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}


button {
    width: 100%;
    height: 40px;
    background-color: #43b704;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    color: #fff;
}

button:active {
    font-size: 25px;
}


/* mexendo na imagem da logo*/
.logo img {
    width: 35%;
    height: auto;
    margin-left: 9.3rem;
    border-radius: 10em;
}

.logo{
    display:flex ;
}

.logo-contraste img {
    width: 35%;
    height: auto;
    margin-left: 9.3rem;
    border-radius: 10em;

}
.logo-contraste{
    display: none;
}

.dica{
    display: none;
    margin-top: -2rem;
    margin-bottom: 0.9rem;
    margin-left: 1.5rem;
}

.dica p{
    color: rgb(171, 3, 3);
    font-size: 17px;
}