 /*configuração padrão*/
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /*corpo*/
 body {
   font-family: Nunito, sans-serif;
   color: #000000;
   background-color: #ffffff;

 }

 *criando o grid area do menu de da logo*/ .menu_logo {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0;
 }

 /* Estilazação da Logo do site*/
 .logo {
   grid-area: logo;
   width: 25rem;
   /* estilizando a largura */
   margin-top: -5rem;
   /* adicionando uma margem em cima da logo */
   margin-bottom: -5rem;
   margin-left: 39%;
 }

 /* Estilizando a Menu/Nav/Header do site */
 nav {
   background-color: #005BC5;
   border-radius: 10px;
   width: 50rem;
   height: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   transition: .5s;
   grid-area: menu;
   margin-left: 29%;
 }

 nav ul {
   list-style-type: none;
   padding: 0;
 }

 nav ul li {
   display: inline;
   position: relative;
 }

 nav ul li a {
   color: var(--cor-primaria);
   text-decoration: none;
   display: inline-block;
   padding: 15px;
   margin-left: 2rem;
   margin-right: 2rem;
 }

 nav ul li a:hover {
   color: #FECD23;
 }

 /*sub menu*/

 nav ul ul {
   background-color: #005BC5;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   display: none;
   left: 0;
   position: absolute;
 }

 nav ul li:hover ul {
   display: block;
 }

 nav ul ul {
   width: 150px
 }

 nav ul ul li a {
   display: block;
   margin: 0;
   border: 0;
 }


 /*estilização do header*/
 .container-titulo {
   grid-area: header;
   padding-top: 5%;
   display: grid;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 35px 35px;
   grid-template-areas: 'title title title'
     'title title title';
 }

 .title {
   grid-area: title;
   text-align: center;
   padding-bottom: 2%;
 }

 .title {
   text-align: center;
   color: #005BC5;
   background-color: #00b5fc18;
   font-size: 4.5em;
 }

 .title1 {
   font-size: 2.5em;
   text-align: center;
   color: #CF0638;
   background-color: #fcd2dd6e;
   padding: 6%;
   margin-top: 2%;
 }

 /*fim do header*/


 /*Estilos para o container dos cartões*/
 .card-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 5%;
   max-width: 1200px;
   margin: 2% auto;
   margin-top: 4%;
 }

 /*Estilos para o container dos cartões*/
 .card-container2 {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   gap: 20%;
   max-width: 900px;
   margin: 2% auto;
   margin-top: 2%;
 }

 /*Estilos para os cartões individuais*/
 .card {
   border: 1px solid #005BC5;
   padding: 7%;
   box-shadow: 0 2px 4px #01346e;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .card2 {
   border: 1px solid #005BC5;
   padding: 5%;
   box-shadow: 0 2px 4px #01346e;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .card-title {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: center;
 }

 .card img {
   max-width: 50%;
   max-height: 30%;
 }

 .card p {
   margin-bottom: 3%;
   text-align: left;
 }

 .card p h4 {
   margin-bottom: 3%;
   text-align: left;
 }

 .card2 img {
   max-width: 50%;
   max-height: 30%;
 }

 .card2 p {
   margin-bottom: 3%;
   text-align: justify;
 }

 .card-button {
   margin-bottom: 2%;
   margin: 2%;
   padding: 2%;
   width: 100px;
   height: 50px;
   background-color: #001449;
   border: none;
   color: white;
   border-radius: 3px;
   font-size: 15px;
 }

 .card-button a {
   text-decoration: none;
   color: #fff;
 }

 .card-button,
 .card-button:focus {
   outline: none;
   border-color: #005BC5;
   box-shadow: 0 0 0 3px #01346e;
 }

 .card-button:hover {
   background-color: #00B4FC;
   color: #000;
 }

 .central-container {
   grid-area: central;
 }

 .contact-container {
   grid-area: contact;
 }

 .contact {
   text-align: center;
   padding: 5%;
   margin-bottom: auto;
 }

 .text-contact {
   font-size: 1.25rem;
   padding: 6%;
 }

 .acessibilidade_container {
   position: fixed;
   bottom: 10px;
   right: 10px;
 }

 #botoes {
   display: none;
   flex-direction: column;
   margin-right: 9px;
   margin-bottom: 62px;
 }

 #botoes button {
   margin: 5%;
   cursor: pointer;
   width: 48px;
   height: 48px;
   border-radius: 30px;
   background-color: #0a996f;
   border: none;
   font-size: 24px;
   color: #ffffff;
 }

 .acessibilidade_container button {
   align-items: center;
   justify-content: center;
   display: flex;
 }

 .acessibilidade_container button img {
   width: 60%;
   height: 60%;
 }

 .main {
   position: absolute;
   width: 60px;
   height: 60px;
   border-radius: 30px;
   background-color: #0a6789;
   right: 0;
   bottom: 0;
 }

 .acessibilidade_container button:hover,
 .acessibilidade_container button .main:hover {
   transform: scale(1.1);
 }

 /*Contraste*/
 body.high-contrast {
   color: #fff !important;
   background-color: #000 !important;
 }

 body.high-contrast h1 {
   color: #fff !important;
 }

 body.high-contrast h2 {
   color: #17f9ff !important;
 }

 body.high-contrast .title {
   color: #fff !important;
   background: none;
 }

 body.high-contrast .title1 {
   color: #ffffff !important;
   background-color: #005cc584;
 }

 .high-contrast p {
   color: #ddd !important;
 }

 /*Modo de Leitura*/
 .reading-mode {
   background-color: #fdf9d7 !important;
 }

 .reading-mode .footer {
   color: #fdf9d7 !important;
 }

 .reading-mode button {
   color: #fdf9d7 !important;
 }

 .reading-mode nav {
   color: #fdf9d7;
 }


 /*Aumentar fonte*/
 .font-size {
   font-size: large;
 }